* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Proxima Nova Light - 300 */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/woff2/normal/ProximaNova-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Proxima Nova Regular - 400 */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/woff2/normal/ProximaNova-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Proxima Nova Semibold - 600 */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/woff2/normal/ProximaNova-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Proxima Nova Bold - 700 */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/woff2/normal/ProximaNova-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Colors */
	--primary-p50: hsla(5, 86%, 97%, 1);
	--primary-p100: hsla(4, 93%, 94%, 1);
	--primary-p200: hsla(3, 96%, 89%, 1);
	--primary-p300: hsla(3, 94%, 82%, 1);
	--primary-p400: hsla(3, 91%, 71%, 1);
	--primary-p500: hsla(3, 85%, 61%, 1);
	--primary-p600: hsla(3, 73%, 51%, 1);
	--primary-p700: hsla(3, 74%, 42%, 1);
	--primary-p800: hsla(3, 70%, 35%, 1);
	--primary-p900: hsla(3, 63%, 31%, 1);

	--secondary-s50: hsla(223, 88%, 97%, 1);
	--secondary-s100: hsla(223, 78%, 93%, 1);
	--secondary-s200: hsla(221, 82%, 87%, 1);
	--secondary-s300: hsla(220, 82%, 78%, 1);
	--secondary-s400: hsla(222, 79%, 68%, 1);
	--secondary-s500: hsla(225, 77%, 60%, 1);
	--secondary-s600: hsla(230, 70%, 53%, 1);
	--secondary-s700: hsla(234, 60%, 40%, 1);
	--secondary-s800: hsla(233, 54%, 36%, 1);
	--secondary-s900: hsla(234, 48%, 21%, 1);

	--surfaces-white: hsla(0, 0%, 100%, 1);
	--surfaces-black: hsla(0, 0%, 0%, 1);
	--surfaces-heading: hsla(330, 6%, 13%, 1);
	--surfaces-n50: hsla(0, 0%, 98%, 1);
	--surfaces-n100: hsla(0, 0%, 96%, 1);
	--surfaces-n200: hsla(0, 0%, 90%, 1);
	--surfaces-n300: hsla(0, 0%, 83%, 1);
	--surfaces-n400: hsla(0, 0%, 63%, 1);
	--surfaces-n500: hsla(0, 0%, 45%, 1);
	--surfaces-n600: hsla(0, 0%, 32%, 1);
	--surfaces-n700: hsla(0, 0%, 25%, 1);
	--surfaces-n800: hsla(0, 0%, 15%, 1);
	--surfaces-n900: hsla(0, 0%, 9%, 1);
	--surfaces-n950: hsla(0, 0%, 4%, 1);

	--supporting-info: hsla(199, 100%, 48%, 1);
	--supporting-warning: hsla(25, 100%, 50%, 1);
	--supporting-success: hsla(160, 100%, 37%, 1);
	--supporting-error: hsla(357, 96%, 58%, 1);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Proxima Nova", sans-serif;
}

/* Typography */
h1 {
	font-size: 3.5rem;
	font-weight: 400;
	line-height: 1.14em;
}
h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.28em;
}
h3 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.64em;
}
h4 {
	font-size: 1.625rem;
	font-weight: 400;
	line-height: 1.64em;
}
h5 {
	font-size: 1.375rem;
	font-weight: 400;
	line-height: 1.45em;
}
h6 {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.56em;
}

.caption_lg {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}
.caption {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
}
.caption_sm {
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
}
.caption_xs {
	font-size: 0.625rem;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
}

.btn_text {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
}
.line_btn_text {
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 1.4em;
	text-transform: uppercase;
}
.line_btn_text_sm {
	font-size: 0.8125rem;
	font-weight: 600;
	line-height: 1.4em;
	text-transform: uppercase;
}

.body_text_lg {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.56em;
}
.body_text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.64em;
}
.body_text_sm {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.56em;
}
.body_text_xs {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.4em;
}

.primary_btn {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.5rem;
	border-radius: 0.25rem;
	background-color: var(--primary-p500);
	color: var(--surfaces-white);
	border: 1px solid var(--primary-p400);
	box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.08);
	text-decoration: none;

	img {
		width: 1.25rem;
	}
}

.ghost_btn {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.5rem;
	border-radius: 0.25rem;
	background-color: var(--surfaces-n50);
	color: var(--surfaces-n600);
	border: 1px solid hsla(0, 0%, 90%, 40);
	box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.06);
	text-decoration: none;

	img {
		width: 1.25rem;
	}
}

.link_btn {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	color: var(--surfaces-black);
	border-bottom: 2px solid var(--surfaces-black);
	text-decoration: none;

	img {
		width: 0.875rem;
	}
}

/* container */
.container {
	max-width: 1300px;
	margin: 0 auto;
}

/* Small Laptops */
@media screen and (max-width: 1400px) {
	.container {
		max-width: 1140px;
		margin: 0 auto;
	}
}

/* Tablets */
@media screen and (max-width: 1023px) {
	.container {
		max-width: 100%;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	.container {
		max-width: 100%;
	}
}
