/* hero section */
.hero-section__wrapper {
	padding: 7rem 0 5.5rem 0;
	// overflow: hidden;
}
.hero-section__content {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hero-section__left {
	width: 46%;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	.caption_lg {
		background: linear-gradient(101.87deg, #f87871 5.7%, #b9241c 36.79%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-bottom: 1rem;
		font-variant: all-small-caps;
	}

	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1.75rem;
	}

	.body_text_lg {
		width: 82%;
		color: var(--surfaces-n600);
		margin-bottom: 3.375rem;
	}

	.btns {
		width: 90%;
		display: flex;
		flex-direction: row;
		gap: 1.75rem;
		align-items: center;

		.primary_btn,
		.ghost_btn {
			flex: 1;
		}
	}

	.stat-boxes {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2.5rem;

		.box {
			flex: 1;
			padding-top: 1.625rem;
			border-top: 1px solid var(--surfaces-n300);

			.stat__count {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1em;
				background: linear-gradient(100.92deg, #fcaaa5 2.69%, #dd2f25 34.81%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
			}

			.stat__text {
				color: var(--surfaces-n500);

				span {
					font-weight: 600;
					color: var(--surfaces-n700);
				}
			}
		}
	}
}

.hero-section__right {
	width: 50%;
	text-align: center;

	img {
		// width: 75%;
		width: 95%;
	}
}

/* intro jumbotron */
.intro-junbotron__wrapper {
	background: #f6f8fe;
	padding: 5rem 11.25rem;
	text-align: center;
	overflow: hidden;

	p {
		color: var(--secondary-s700);
		margin-bottom: 2rem;
	}
	h4 {
		color: var(--surfaces-heading);
		font-weight: 600;
	}
}

/* highlights */
.highlights__wrapper {
	padding: 7rem 0;
	position: relative;

	.caption-block {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--surfaces-n400);
		margin-bottom: 2rem;

		img {
			width: 0.5rem;
		}
		.caption {
			color: var(--primary-p500);
		}
	}
}

.highlights-content {
	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1rem;
	}
	.body_text_lg {
		width: 58%;
		color: var(--surfaces-n600);
		margin-bottom: 3.5rem;
	}
}

.hightlight-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	align-items: flex-start;

	.highlight__card {
		flex: 1;
		width: 100%;
		padding: 1.5rem;
		background: linear-gradient(171.53deg, #ffffff -19.67%, #fef3f2 174.43%);
		box-shadow: 0px 0px 4px rgba(12, 12, 13, 0.1),
			0px 2px 8px rgba(12, 12, 13, 0.05);

		.card__icon {
			width: 3.5rem;
			margin-bottom: 1.25rem;
		}

		h6 {
			color: var(--surfaces-heading);
			margin-bottom: 0.75rem;
			font-weight: 600;
		}

		.body_text_sm {
			color: var(--surfaces-n500);
			margin-bottom: 0.75rem;

			span {
				background: var(--secondary-s100);
				padding: 0.1em 0.25em;
				border-radius: 0.125rem;
				color: var(--surfaces-black);
			}
		}

		.link_btn {
			width: max-content;
			gap: 0.25rem;
			z-index: 3;
		}
	}
}

/* tab section */
.tab-section__wrapper {
	padding: 0 0 7rem 0;
	width: 100%;
	position: relative;

	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1rem;
		width: 55%;
		margin: 0 auto 1rem auto;
		text-align: center;
	}

	.desc {
		color: var(--surfaces-n600);
		width: 40%;
		margin: 0 auto 3.5rem auto;
		text-align: center;
	}
}

.c-tabs {
	width: 100%;
}

.c-tabs__tab-list {
	width: 90%;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	margin: 0 auto 4.5rem auto;
}

.c-tabs__tab {
	background: none;
	border: 1px solid var(--surfaces-n600);
	color: var(--surfaces-n600);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.25em;
	cursor: pointer;
	padding: 0.875rem 0.75rem;
	flex: 1;
	border-radius: 2px;
}

.c-tabs__tab--active {
	background-color: var(--surfaces-heading);
	border: 1px solid var(--surfaces-heading);
	color: var(--surfaces-white);
}

/* Desktop behavior — hide all by default */
.c-tabs__content {
	display: none;
	flex-direction: row;
	gap: 5rem;

	.img__sec {
		flex: 1;
		img {
			width: 100%;
		}
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;

		.tab__data {
			border-bottom: 1px solid var(--surfaces-n300);
			padding-bottom: 2.5rem;

			h3 {
				color: var(--surfaces-heading);
				margin-bottom: 1.5rem;
				line-height: 1.2em;
			}
			.description {
				color: var(--surfaces-n600);
				margin-bottom: 1.5rem;
			}
			.primary_btn {
				width: max-content;
				padding: 0.875rem 1.25rem;
			}
		}

		.usecases {
			display: flex;
			flex-direction: row;
			gap: 1.5rem;

			.case {
				flex: 1;
				text-decoration: none;
				padding: 1rem;
				border-radius: 2px;

				.link {
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 0.75rem;

					.caption_xs {
						font-size: 0.75rem;
						color: var(--primary-p500);
					}

					img {
						width: 0.875rem;
					}
				}

				.company_logo {
					width: auto;
					height: 1.25rem;
					margin-bottom: 0.75rem;
				}
				p.body_text_xs {
					color: var(--surfaces-n600);
				}
			}

			.case__one {
				background: var(--primary-p50);

				&:hover {
					background: var(--primary-p100);
					p.body_text_xs {
						color: var(--surfaces-n900);
					}
				}
			}

			.case__two {
				background: var(--secondary-s50);

				&:hover {
					background: var(--secondary-s100);
					p.body_text_xs {
						color: var(--surfaces-n900);
					}
				}
			}
		}
	}

	.data-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 2.5rem;
	}

	.data-list li {
		position: relative;
		padding-left: 1.5rem;
		line-height: 1.2em;
		color: var(--surfaces-n600);

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	.data-list li::before {
		content: "";
		position: absolute;
		left: 0;
		top: 4px;
		width: 1rem;
		height: 1rem;
		background-image: url("../icons/single-tick-green.svg");
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.c-tabs__content.c-tabs__content--active {
	display: flex !important;
}

/* Accordion headers hidden on desktop */
.c-tabs__accordion-header {
	display: none;
}

/* news section */
.news-section__wrapper {
	background: var(--primary-p50);
	padding: 7rem 0;
	z-index: 0;

	.caption-block {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--surfaces-n400);
		margin-bottom: 2rem;

		img {
			width: 0.5rem;
		}
		.caption {
			color: var(--primary-p500);
		}
	}
}

.news-content {
	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1rem;
	}
	.body_text_lg {
		width: 50%;
		color: var(--surfaces-n600);
		margin-bottom: 3.5rem;
	}
}

.news-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	align-items: flex-start;

	.news__card {
		flex: 1;
		padding: 2rem 1.5rem;
		// height: 28.125rem;
		height: 450px;
		display: flex;
		align-items: flex-end;
		position: relative;
		overflow: hidden;
		box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1),
			0px 4px 4px -4px rgba(12, 12, 13, 0.05);

		&::after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: hsl(0deg 1.49% 13.34% / 28%);
			border: 1px solid #525252;
			filter: blur(75px);
			z-index: 1;
		}

		&:hover {
			cursor: pointer;
			&::after {
				background: hsl(0deg 1.49% 13.34% / 40%);
			}
		}

		.card__content {
			z-index: 2;
			h5 {
				color: var(--surfaces-white);
				margin-bottom: 0.5rem;
			}

			.body_text_sm {
				color: var(--surfaces-n200);
				width: 85%;
				margin-bottom: 1.25rem;
				color: var(--surfaces-n200);
			}

			.link_btn {
				width: max-content;
				color: var(--surfaces-white);
				border-bottom: 1.4px solid var(--surfaces-white);

				.line_btn_text {
					font-weight: 400;
					font-size: 0.8rem;
				}
			}
		}
	}
}

/* spotlight section */
.spotlight-section__wrapper {
	padding: 7rem 0;
	position: relative;

	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1rem;
		width: 55%;
		margin: 0 auto 1rem auto;
		text-align: center;
	}

	.desc {
		color: var(--surfaces-n600);
		width: 40%;
		margin: 0 auto 3.5rem auto;
		text-align: center;
	}
}

.resource-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;

	.resource__card {
		flex: 1;
		background: var(--surfaces-white);
		box-shadow: 0px 0px 4px rgba(12, 12, 13, 0.1),
			0px 2px 8px rgba(12, 12, 13, 0.05);
		padding-bottom: 0.5rem;

		.resource-img {
			width: 100%;
		}

		.content {
			padding: 1.5rem;
		}

		span {
			color: var(--primary-p500);
		}
		a {
			text-decoration: none;
		}
		h5 {
			color: var(--surfaces-heading);
			margin: 1rem 0;
			transition: color 0.3s ease;
			cursor: pointer;
		}

		h5:hover {
			color: var(--surfaces-n700);
		}

		.link_btn {
			width: max-content;
		}
	}
}

.view_all__bnt {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 4rem;

	.link_btn {
		width: max-content;
	}
}

/* testimonial section */
.testimonial-section__wrapper {
	padding: 7rem 0;
	background: hsl(0deg 0% 96% / 70%);
	position: relative;

	h2 {
		color: var(--surfaces-heading);
		margin-bottom: 1rem;
		width: 55%;
		margin: 0 auto 1rem auto;
		text-align: center;
	}

	.desc {
		color: var(--surfaces-n600);
		width: 40%;
		margin: 0 auto 3.5rem auto;
		text-align: center;
	}
}

.testimonial__bottom {
	margin-top: 4rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.left {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.75rem;

		.avatars {
			// width: 6.5rem;
			width: 104px;
		}
		.body_text_sm {
			color: var(--surfaces-n600);
		}
	}
}

.reviews__wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;

	.customer-details-main {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;

		img {
			width: 3.5rem;
		}

		.details {
			.name {
				color: var(--surfaces-heading);
				line-height: 1.2em;
				margin-bottom: 0.375rem;
			}

			.designation {
				color: var(--surfaces-n500);
				line-height: 1.2em;
			}
		}
	}

	.left {
		flex: 1;
		background-color: var(--surfaces-white);
		padding: 2.5rem 2.5rem 1.5rem 2.5rem;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 3rem;

		.content {
			.stat__number {
				font-size: 2.5rem;
				font-weight: 600;
				line-height: 1.2em;
				color: var(--surfaces-heading);
				margin-bottom: 0.375rem;
			}

			.stats__detail {
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 1.2em;
				color: var(--surfaces-heading);
				margin-bottom: 2.5rem;
			}

			img {
				width: 1.5rem;
				margin-bottom: 1rem;
			}

			.review {
				width: 87%;
				line-height: 1.56em;
				color: var(--surfaces-n600);
			}
		}
	}

	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.col__1 {
			flex: 1;
			background: var(--surfaces-white);
			padding: 1.5rem;
			border-radius: 2px;
			display: flex;
			flex-direction: column;
			gap: 2.5rem;

			.content {
				.stat__number {
					font-size: 1.5rem;
					line-height: 1.2em;
					color: var(--surfaces-heading);
					margin-bottom: 1.25rem;
				}
				.stat__number {
					color: var(--surfaces-heading);
					line-height: 1.2em;
					font-weight: 600;
				}
				img {
					width: 1.5rem;
					margin-bottom: 0.5rem;
				}
				.review {
					color: var(--surfaces-n600);
					line-height: 1.56em;
				}
			}
		}

		.col__2 {
			flex: 1;
			display: flex;
			flex-direction: row;
			gap: 1.5rem;
			// justify-content: stretch;

			.review__3,
			.review__4 {
				flex: 1;
				background-color: var(--surfaces-white);
				border-radius: 2px;
				padding: 1.25rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.quote-icon {
					width: 1.25rem;
					margin-bottom: 0.5rem;
				}
				.review_body_text {
					font-size: 0.9375rem;
					line-height: 1.5em;
					color: var(--surfaces-n600);
				}

				.customer__data__xs {
					.details {
						gap: 0.5rem;

						.name {
							font-size: 1rem;
						}
						.designation {
							font-size: 0.8125rem;
						}
					}
				}
			}

			.review__4 {
				background-color: var(--surfaces-n900);

				.review_body_text {
					color: var(--surfaces-n50);
				}
				.details {
					.name {
						color: var(--surfaces-n200);
					}
					.designation {
						color: var(--surfaces-n300);
					}
				}
			}
		}
	}
}

/* partners section */
.partners-section__wrapper {
	padding: 7rem 0;
	background: var(--surfaces-n900);

	h2 {
		color: var(--surfaces-white);
		margin-bottom: 1rem;
		width: 55%;
		margin: 0 auto 1rem auto;
		text-align: center;
		z-index: 3;
		position: relative;
	}

	.desc {
		color: var(--surfaces-n400);
		width: 65%;
		margin: 0 auto 3.5rem auto;
		text-align: center;
		z-index: 3;
		position: relative;
	}

	.view_all__bnt {
		z-index: 3;
		position: relative;
		margin-top: 5.5rem;

		.link_btn {
			color: var(--surfaces-white);
			border-bottom: 1px solid var(--surfaces-white);
		}
	}
}

.logo__carousal__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	z-index: 1;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, rgba(23, 23, 23, 0) -70%, #171717 101%);
		z-index: 2;
	}

	.logo-carousal-one,
	.logo-carousal-two,
	.logo-carousal-three {
		img {
			width: 100%;
		}
	}
}

/* free trial section */
.trial-section__wrapper {
	padding: 7rem 0;
	background: var(--primary-p50);
	position: relative;
	overflow: hidden;

	.cta__section {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 4%;
	}

	.left {
		width: 48%;

		.caption-block {
			width: 100%;
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			align-items: center;
			padding-bottom: 1rem;
			border-bottom: 1px solid var(--surfaces-n400);
			margin-bottom: 2rem;

			img {
				width: 0.5rem;
			}
			.caption {
				color: var(--primary-p500);
			}
		}

		h1 {
			color: var(--surfaces-heading);
			margin: 2rem 0 1.5rem 0;
			width: 75%;

			span {
				font-weight: 700;
				letter-spacing: -0.01em;
				background: linear-gradient(137deg, #fcaaa5 -15%, #b9241c 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		.body_text_lg {
			color: var(--surfaces-n600);
			font-weight: 300;
			width: 65%;
			margin-bottom: 3rem;
		}

		.check-items {
			width: 70%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.5rem 2rem;
			align-items: center;

			.item {
				// flex: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.375rem;
			}
		}
	}

	.right {
		width: 48%;

		.form__wrapper {
			background: var(--surfaces-white);
			padding: 3rem 2.5rem;
			box-shadow: 0px 0px 4px rgba(12, 12, 13, 0.1),
				0px 2px 8px rgba(12, 12, 13, 0.05);

			form {
				margin-bottom: 2rem;
			}

			span {
				display: block;
				color: var(--surfaces-n600);

				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}

				a {
					color: var(--primary-p500);
					text-decoration: underline;
				}
			}
		}
	}
}

.trial-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;

	.input__field {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		label {
			font-size: 0.8125rem;
			font-weight: 600;
			line-height: 1em;
			text-transform: uppercase;
		}

		input {
			padding: 0.625rem 0.875rem;
			border: 1px solid var(--surfaces-n400);
			font-size: 1rem;
			line-height: 1.48em;
			color: var(--surfaces-black);
			border-radius: 2px;
			letter-spacing: 0.4px;

			&::placeholder {
				color: var(--surfaces-n400);
			}
		}

		select {
			padding: 0.625rem 0.875rem;
			border: 1px solid var(--surfaces-n400);
			font-size: 1rem;
			line-height: 1.48em;
			color: var(--surfaces-black);
			border-radius: 2px;
		}
	}

	.two-col {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
	}

	button[type="submit"] {
		width: max-content;
		font-weight: 600;

		&:hover {
			cursor: pointer;
		}
	}
}

/* Elements */
.grid_4 {
	position: absolute;
	top: -15%;
	left: -12%;
	z-index: -1;
}
.vector_1 {
	position: absolute;
	top: -13%;
	left: 8%;
	z-index: -1;
	filter: blur(100px);
	opacity: 0.25;
}
.hero_sec_blurred_img {
	position: absolute;
	right: -30%;
	top: -49%;
	filter: blur(100px);
	opacity: 0.85;
	z-index: -1;
}
.ellipse_1 {
	position: absolute;
	top: 0;
	right: 0;
}
.ellipse_2 {
	position: absolute;
	bottom: 0;
	left: 0;
}
.grid_3 {
	position: absolute;
	right: 0;
	top: -8%;
}
.vector_2 {
	position: absolute;
	top: 5%;
	right: 26%;
	filter: blur(100px);
	z-index: -1;
	opacity: 0.4;
}
.vector_6 {
	position: absolute;
	bottom: -6%;
	left: 33%;
	filter: blur(130px);
	opacity: 0.25;
	z-index: -1;
}
.grid_2 {
	position: absolute;
	left: 0%;
	bottom: -17%;
	z-index: -1;
	width: 23%;
}
.vector_5 {
	position: absolute;
	top: 1%;
	left: 35%;
	z-index: -1;
	filter: blur(180px);
	opacity: 0.4;
}
.vector_8 {
	position: absolute;
	bottom: 10%;
	right: 32%;
	filter: blur(180px);
	z-index: -1;
	opacity: 0.4;
}
.vector_4 {
	position: absolute;
	top: 19%;
	left: 30%;
	z-index: -1;
	filter: blur(80px);
	opacity: 0.5;
}
.vector_3 {
	position: absolute;
	bottom: 7%;
	right: 26%;
	z-index: -1;
	filter: blur(180px);
	opacity: 0.6;
	width: 10%;
}
.grid_5 {
	position: absolute;
	left: 0;
	bottom: -5%;
	z-index: 4;
}

/* MOBILE MODE (≤768px) */
@media (max-width: 768px) {
	/* Hide tab buttons */
	.c-tabs__tab-list {
		display: none;
	}

	.c-tabs__accordion-header {
		display: block;
		width: 100%;
		cursor: pointer;
	}

	/* Override desktop rules */
	.c-tabs__content {
		display: block; /* Needed to animate height */
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		transition: max-height 0.35s ease, opacity 0.25s ease;
	}

	.c-tabs__content--open {
		max-height: 300px;
		opacity: 1;
	}
}

/* DESKTOP RESET (≥769px)  */
@media (min-width: 769px) {
	.c-tabs__content {
		display: none !important;
		max-height: none !important;
		opacity: 1 !important;
		overflow: visible !important;
	}

	.c-tabs__content--active {
		display: block !important;
	}

	.c-tabs__accordion-header {
		display: none !important;
	}
}
